-e asammdf/.
scipy

git+https://github.com/python-control/Slycot.git
git+https://github.com/python-control/python-control.git
git+https://github.com/jed-frey/get_files.git

# Web
flask
flask-restful
flask-pony
flask-ponywhoosh

# DB
pony
PyMySQL
redis
rq


# Testing
pytest
pytest-html

flake8
flake8-html
flake8-quotes
flake8-isort
flake8-docstrings
flake8-commas
flake8-docstrings

mccabe
pylint

# Development 
jupyter
notebook

# IDE
spyder
