
flake8
flake8-commas
flake8-docstrings
flake8-docstrings
flake8-html
flake8-isort
flake8-quotes

# Web
flask
flask-pony
flask-ponywhoosh
flask-restful

fsspec
s3fs

# Development
jupyter

mccabe
notebook

# DB
pony
pylint
PyMySQL

# Testing
pytest
pytest-html
redis
rq
scipy

# IDE
spyder
